Repository salesforce/dockerfile-image-update, pull requests merged in 2022-03, with the labels that each got.

#327 Label triggers are creating duplicate releases
  .github/workflows/release-drafter.yml
Labels: chore, ci-cd

#326 Resetting the list of orgs to include or exclude in the search for each image
  dockerfile-image-update/src/main/java/com/salesforce/dockerfileimageupdate/utils/DockerfileGitHubUtil.java
  dockerfile-image-update/src/test/java/com/salesforce/dockerfileimageupdate/utils/DockerfileGitHubUtilTest.java
Labels: bug, tests

#331 Use stream to look for error message prefixes
  dockerfile-image-update/src/main/java/com/salesforce/dockerfileimageupdate/utils/GitHubUtil.java
  dockerfile-image-update/src/test/java/com/salesforce/dockerfileimageupdate/utils/GitHubUtilTest.java
Labels: tests

#332 Fixed ignore PR comment docker build issue
  dockerfile-image-update/src/main/java/com/salesforce/dockerfileimageupdate/CommandLine.java
  dockerfile-image-update/src/main/java/com/salesforce/dockerfileimageupdate/model/FromInstruction.java
  dockerfile-image-update/src/main/java/com/salesforce/dockerfileimageupdate/utils/DockerfileGitHubUtil.java
  dockerfile-image-update/src/test/java/com/salesforce/dockerfileimageupdate/model/FromInstructionTest.java
  dockerfile-image-update/src/test/java/com/salesforce/dockerfileimageupdate/utils/DockerfileGitHubUtilTest.java
Labels: tests
