Repository salesforce/dockerfile-image-update, pull requests merged in 2022-02, with the labels that each got.

#304 Updated to support no-dfiu comment processing to ignore DFIU PRs
  README.md
  dockerfile-image-update/src/main/java/com/salesforce/dockerfileimageupdate/CommandLine.java
  dockerfile-image-update/src/main/java/com/salesforce/dockerfileimageupdate/model/FromInstruction.java
  dockerfile-image-update/src/main/java/com/salesforce/dockerfileimageupdate/subcommands/impl/Child.java
  dockerfile-image-update/src/main/java/com/salesforce/dockerfileimageupdate/utils/Constants.java
  dockerfile-image-update/src/main/java/com/salesforce/dockerfileimageupdate/utils/DockerfileGitHubUtil.java
  dockerfile-image-update/src/test/java/com/salesforce/dockerfileimageupdate/model/FromInstructionTest.java
  dockerfile-image-update/src/test/java/com/salesforce/dockerfileimageupdate/subcommands/impl/ChildTest.java
  dockerfile-image-update/src/test/java/com/salesforce/dockerfileimageupdate/utils/DockerfileGitHubUtilTest.java
Labels: feature, tests

#296 PR labels trigger Release Drafter + README update
  .github/CODEOWNERS
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  README.md
Labels: documentation, chore, ci-cd

#318 Remove dependabot badge / add Dev->Release Process
  README.md
Labels: documentation

#316 Catch exceptions while finding files with image
  dockerfile-image-update/src/main/java/com/salesforce/dockerfileimageupdate/subcommands/impl/All.java
  dockerfile-image-update/src/main/java/com/salesforce/dockerfileimageupdate/utils/DockerfileGitHubUtil.java
  dockerfile-image-update/src/main/java/com/salesforce/dockerfileimageupdate/utils/ProcessingErrors.java
  dockerfile-image-update/src/test/java/com/salesforce/dockerfileimageupdate/subcommands/impl/AllTest.java
Labels: bug, tests

#320 Catching IOException when the image name is invalid
  dockerfile-image-update/src/main/java/com/salesforce/dockerfileimageupdate/subcommands/impl/All.java
Labels: bug
